<style>
	.tweet {
		display: flex;
		max-width: 500px;
		flex-direction: row;
		padding: 5 px;
	}

	.icon {
		width: 50%;
	}

	.content {
		max-width: 75%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 50px;
	}
</style>

<html>

<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
		crossorigin="anonymous"></script>
</head>

<body>
	<div class="content">
		<div class="container">
			<div class="row">
				<div class="col-sm">
					<div class="form-group">
						<b>Order by</b>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="order_by" value="id">
							<label class="form-check-label">
								Id
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="order_by" value="predicted_score">
							<label class="form-check-label">
								Predicted score
							</label>
						</div>
					</div>
				</div>
				<div class="col-sm">
					<div class="form-group">
						<b>Direction</b>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="direction" value="asc">
							<label class="form-check-label">
								ASC
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="direction" value="desc">
							<label class="form-check-label">
								DESC
							</label>
						</div>
					</div>
				</div>
				<div class="col-sm">
					<div class="form-group">
						<b>Show scored tweets</b>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="has_score" value="true">
							<label class="form-check-label">
								True
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="has_score" value="false">
							<label class="form-check-label">
								False
							</label>
						</div>
					</div>
				</div>
				<div class="col-sm">
					<div class="form-group">
						<b>Days back</b>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="last_n_days" value="1">
							<label class="form-check-label">
								1 day
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="last_n_days" value="7">
							<label class="form-check-label">
								7 days
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="last_n_days" value="all">
							<label class="form-check-label">
								All
							</label>
						</div>
					</div>
				</div>
				<div class="col-sm">
					<div class="form-group">
						<b>Minimum predicted score</b>
						<input name="min_predicted_score" value="0.5"/>
					</div>
				</div>
			</div>
		</div>

		{% for tweet in tweets %}
		<div class="card mb-8" style="margin-top: 5px; margin-bottom: 5px; padding-bottom: 5px; padding-top: 5px;">
			<div class="row g-0" style="padding-bottom: 5px;">
				<div class="col-md-2" style="margin: auto;">
					<img src="{{ tweet.profile_image_url }}" class="img-fluid rounded-start" style="width: 100%; "
						alt="icon">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<p>Score: {{ tweet.predicted_score }}</p>
						<p>
							<a href="{{ tweet.tweet_url }}">Link to Twitter</a>
						</p>
						<p>
							<a href="/user?screen_name={{ tweet.username }}">User tweets</a>
						</p>
						<p>
							<a href="/conversation?conversation_id={{tweet.conversation_id}}">Conversation</a>
						</p>
						<p class="card-text"> {{ tweet.html_text|safe }}</p>
					</div>
				</div>
			</div>
			<div class="btn-group" role="group" aria-label="Basic mixed styles example"
				style="width: 80%; margin: auto;">
				{% if tweet.is_good != None %}
				<button type="button" onclick="feedback('{{ tweet.id }}', true)" id="{{ tweet.id }}-good"
					class="btn btn-outline-success">+</button>
				<button type="button" onclick="feedback('{{ tweet.id }}', false)" id="{{ tweet.id }}-bad"
					class="btn btn-outline-warning">-</button>
				{% else %}
				<button type="button" onclick="feedback('{{ tweet.id }}', true)" id="{{ tweet.id }}-good"
					class="btn btn-success">+</button>
				<button type="button" onclick="feedback('{{ tweet.id }}', false)" id="{{ tweet.id }}-bad"
					class="btn btn-warning">-</button>
				{% endif %}
			</div>
		</div>
		{% endfor %}
		<div class="col-md-12 text-center">
			<button type="button" class="btn btn-outline-primary" onclick="prev_page()">Prev tweets</button>
			<button type="button" class="btn btn-outline-primary" onclick="next_page()">Next tweets</button>
		</div>
	</div>
</body>

</html>
<script>

	window.onload = () => {
		set_radio_button({
			name: "order_by",
			defaultValue: "predicted_score"
		});
		set_radio_button({
			name: "direction",
			defaultValue: "desc"
		});
		set_radio_button({
			name: "has_score",
			defaultValue: "false"
		});
		set_radio_button({
			name: "last_n_days",
			defaultValue: "1"
		});
		set_input_field({
			name: "min_predicted_score",
			defaultValue: "0.5"
		})
	};

	async function set_radio_button({ name, defaultValue }) {
		const url = new URL(window.location.href);
		const value = url.searchParams.get(name);

		if (value) {
			document.querySelector(`input[name="${name}"][ value="${value}"]`).checked = true
		} else {
			document.querySelector(`input[name="${name}"][ value="${defaultValue}"]`).checked = true;
		}

		document.querySelectorAll(`input[name="${name}"]`).forEach((item) => {
			item.addEventListener('change', () => {
				set_url_args();
			})
		})
	}

	async function set_input_field({name, defaultValue}){
		const url = new URL(window.location.href);
		const value = url.searchParams.get(name);

		if (value) {
			document.querySelector(`input[name="${name}"]`).value = value;
		} else {
			document.querySelector(`input[name="${name}"]`).value = defaultValue;
		}

		document.getElementsByName(name)[0].addEventListener('blur', () => {
			set_url_args();
		})
	}

	async function set_url_args(added_skip = 0) {
		const url = new URL(window.location.href);
		const order_by = document.querySelector('input[name="order_by"]:checked').value;
		const direction = document.querySelector('input[name="direction"]:checked').value;
		const last_n_days = document.querySelector('input[name="last_n_days"]:checked').value;
		const show_has_score = document.querySelector('input[name="has_score"]:checked').value;
		const skip = url.searchParams.get("skip");
		const min_predicted_score = document.querySelector('input[name="min_predicted_score"]').value;

		if (added_skip) {
			if (skip) {
				url.searchParams.set('skip', Math.max(parseInt(skip) + added_skip, 0));
			} else {
				url.searchParams.append('skip', 10);
			}
		}

		url.searchParams.set('order_by', order_by);
		url.searchParams.set('direction', direction);
		url.searchParams.set('has_score', show_has_score);
		if (min_predicted_score.length){
			url.searchParams.set('min_predicted_score', min_predicted_score);
		} else {
            url.searchParams.delete("min_predicted_score")
        }

		if (last_n_days !== "all") {
			url.searchParams.set('last_n_days', last_n_days);
		}

		window.location = url.href;
	}

	async function prev_page() {
		set_url_args(-10);
	}

	async function next_page() {
		set_url_args(10);
	}

	async function feedback(id, is_good) {
		await fetch(`http://${window.location.hostname}:8081/feedback`, {
			method: 'POST',
			mode: 'no-cors',
			body: JSON.stringify({
				"id": id,
				"is_good": is_good
			})
		}).then(() => {
			document.getElementById(`${id}-bad`).className = "btn btn-outline-warning";
			document.getElementById(`${id}-good`).className = "btn btn-outline-success";
		});
	}
</script>